version: '3.8'

services:
  db:
    image: postgres:16.10
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1q2w3e4r
      POSTGRES_DB: test_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      PG_USER: postgres
      PG_PASSWORD: 1q2w3e4r
      PG_HOST: db
      PG_PORT: 5432
      PG_DB: test_db

volumes:
  postgres_data:
